
.image {
    width: 150px;
    position: relative;
    left: 1000px;
    top: 200px;
    opacity: 0;
}

.car {
    // opacity:0; //kom do usunięcia
}
.carBody {
    position: relative;
    // top: 50px;
}

// Halogen in bumper and all Front
.frontSmallBumper {
    width: 15px;
    height: 15px;
    background: $color-body;
    border-radius: 50% 0% 0% 50%/ 50% 0% 0% 20%;
    position: absolute;
    top: 132px;
    left: -3px;
    transform: rotate(15deg)skew(2deg);
}
.frontBumperHalogen {
    width: 20px;
    height: 25px;
    background: #000;
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 40% 5% 10% 5%/5% 5% 20% 30%;
    box-shadow: -5px -1px 20px #000000;
}
.halogenLight {
    
    box-shadow: -10px 0px 20px #fff;
    width: 3px;
    height: 20px;
    position: absolute;
    background: #999;
    top: 2px;
    left: 16px;
    border-radius: 50% 0% 0% 50%/50% 0% 0% 50%;
}
.bumperShadow {
    width:121px;
    height: 10px;
    background-image: linear-gradient(to left, #800000, #7c0000, #780000, #740000, #700000);    position: absolute;
    top: 148px;
    left: -4px;
    transform: skew(-12deg, 4deg);
    border-radius: 0% 0% 0% 40%/0% 0% 0% 100%;
    .bumperShadow2 {
        width:50px;
        height: 35px;
        position: absolute;
        top: -34px;
        left:21px;
        border-bottom: 20px solid #750000;
        border-left: 58px solid transparent;
        transform: skew(-45deg);
        .bumperShadow3 {
            width: 60px;
            height: 8px;
            background: $color-body;
            position: relative;
            left: -60px;
            top: 18px;
            transform: skew(50deg, -26deg);
            border-radius: 0% 0% 80% 150% / 0% 0% 50% 250%;
        }
    }
}
// Between wheels
.doorStep {
    width: 420px;
    height: 15px;
    background: #600000;
    position: absolute;
    top: 153.5px;
    left: 269.5px;
    border-top: 13px solid #780000;
    border-left: 380px solid transparent;
}
.doorStep2 {
    width: 440px;
    height: 10px;
    position: absolute;
    top: 158.5px;
    left: 269.5px;
    border-bottom: 10px solid #780000;
    border-right: 420px solid transparent;
}

// All car body
.body {
    height: 170px;
    width:850px;
    border: 1px solid $color-body;
    position: absolute;
    top: 129px;
    left: 23px;
    transform: skew(-5deg, -1.5deg);
    border-radius: 30% 0% 0% 50%/40% 0% 0% 15%;
    border-bottom-right-radius: 20%;
    background: $color-body;

}
.roofFront {
    height: 90px;
    width:220px;
    border: 1px solid $color-body;
    position: absolute;
    top: 45px;
    left: 340px;
    transform: skew(-40deg, -1.5deg);
    border-radius: 290% 0% 0% 0%/450% 0% 0% 0%;
    background: $color-body;

}
.roofBack {
    height: 85px;
    width:200px;
    border: 1px solid $color-body;
    position: absolute;
    top: 39px;
    left: 650px;
    transform: skew(40deg, -1.5deg);
    border-radius: 0% 199% 0% 0%/0% 200% 0% 0%;
    background: $color-body;

}
.roofMiddle {
    height: 92px;
    width:295px;
    border: 1px solid $color-body;
    position: absolute;
    top: 42px;
    left: 425px;
    transform: skew(0deg, -1.5deg);
    border-radius: 50%/25%;
    background: $color-body;
}
.trunk {
    width: 100px;
    height: 100px;
    border: 1px solid $color-body;
    position: absolute;
    top :105px;
    left: 853px;
    border-radius: 15%/50%;
    transform: skew(0deg, 2deg);
    background: $color-body;

}
.backBumper {
    width: 140px;
    height: 97px;
    border: 1px solid $color-body;
    position: absolute;
    top :184px;
    left: 827px;
    transform: skew(0deg, -4deg);
    border-radius: 0% 25% 20% 0%/0% 10% 20% 0%;
    background: $color-body;
}